Path Initiation

> When the multipath option is negotiated, clients that want to use an additional path MUST first initiate the Address Validation procedure with PATH_CHALLENGE and PATH_RESPONSE frames described in Section 8 of {{QUIC-TRANSPORT}}.

There are two cases: 
* the client uses a distinct source IP address and/or port number: in such case, Address validation does not make sense. 
* the client uses a distinct destination IP address and/or port number: I guess this is what is covered in the excerpt. If that's the case, this assumes that the client has discovered a distinct destination IP address/port number (either by some means or that the server has used these address/port).

I think some elaboration is needed. 

> Thanks for the clarification. The case I'm concerned about is not the second case in my initial comment, but the first one. A client may have the knowlegde of the local addresses. I don't see how path validation from the client side applies for this case.

In the first case, path validation from the server side check the reachability of the client new address. Endpoints do path validation in both directions when initializing new path, as the same in section 8.2 of RFC 9000. You can find the whole work flow in the first figure of Section Example.
